body {
  overflow-x: hidden;
  font-family: 'Prompt', 'Lato' 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

p {
  line-height: 1.75;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: 'Prompt', 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.btn {
  font-family: 'Prompt', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}

.btn-xl {
  font-size: 18px;
  padding: 20px 40px;
}

.btn-primary {
  background-color: black;
  border-color: black;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: #ef2d56 !important;
  border-color: #ef2d56 !important;
  color: white;
}

.btn-primary:active, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(254, 254, 254, 0.5) !important;
}

section {
  padding: 100px 0;
}

section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 2em;
  letter-spacing: 3px;
  font-family: 'Prompt', sans-serif;
}

section h3.section-subheading {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 75px;
  text-transform: none;
  font-family: 'Prompt', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@media (min-width: 768px) {
  section {
    padding: 100px 0;
  }
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.fixed-bottom {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}
#mainNav {
  background-color: black;
  }


#mainNav .navbar-toggler {
  font-size: 12px;
  right: 0;
  padding: 13px;
  text-transform: uppercase;
  color: black;
  border: 0;
  background-color: #ef2d56;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Logo picture no highlighting needed
#mainNav .navbar-brand {
  color: #fed136;
  font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive;
}

#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #fec503;
}

*/

#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 90%;
  font-weight: 400;
  padding: 0.75em 0;
  letter-spacing: 1px;
  color: white;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #ef2d56;
}

@media (min-width: 61px){
	#mainNav .navbar-brand{
	hight: 50px;
	width: 50px;
	}

}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 0px;
    padding-bottom: 0px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition:  0.3s all;
    transform:scale(1.0);
    border: none;
    /* change background color back to transparent if needed */
    background-color: rgba(0,0,0,0.7);
  }


  #mainNav .navbar-brand {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    	hight: 80px;
	width: 80px;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    padding: 1.1em 1.8em !important;
  }
  #mainNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: black;
  }
  #mainNav.navbar-shrink .navbar-brand {
    padding: 0px 0;
    transform:scale(0.6);
  }
}

::-moz-selection {
  background: #ef2d56;
  text-shadow: none;
}

::selection {
  background: #ef2d56;
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

header.masthead {
  text-align: center;
  color: white;
  background-image: url("img/option1.jpeg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


header.masthead .intro-text {
  padding-top: 150px;
  padding-bottom: 100px;
}

header.masthead .intro-text .intro-lead-in {
  font-size: 4em;
  line-height: 22px;
  margin-bottom: 25px;
  font-family: 'Prompt', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header.masthead .intro-text .intro-heading {
  font-size: 0.8em;
  font-weight: 700;
  margin-bottom: 40px;
  font-family: 'Prompt', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  letter-spacing: 0.7px;
}

@media (min-width: 768px) {
  header.masthead .intro-text {
    padding-top: 300px;
    padding-bottom: 200px;
  }
  header.masthead .intro-text .intro-lead-in {
    font-size: 100px;
    line-height: 40px;
    margin-bottom: 40px;
    font-family: 'Prompt', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    letter-spacing: 3px;
  }
  header.masthead .intro-text .intro-heading {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 50px;
    font-family: 'Prompt', 'Helvetica Neue', Helvetica, Arial, sans-serif;
     letter-spacing: 0.7px;
  }
}
.bg-white-pink{
  background: linear-gradient( white 70%, #ef2d56 30.001%);
}
.about-description{
	text-align:justify;
	letter-spacing: 0.18em;
	padding-bottom: 50px;
}

.bg-pink{
	background-color: #ef2d56;
}


.text-blink {
    color: black!important;
}

.pic-position{
	text-align:center;
	vertical-align:center;
}

.team-member {
  margin-bottom: 50px;
  text-align: center;
}

.team-member img {
    border-radius: 50%;
}

.team-member h4 {
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: none;
}

.team-member p {
  margin-top: 0;
}

.bg-black{
	background-color:black;
}

.color-dark-grey{
	color:#A0A09F;
}

.contact-subheading{
	text-align:justify;
}

section#contact .form-group {
  margin-bottom: 25px;
}

section#contact .form-group input,
section#contact .form-group textarea {
  padding: 20px;
}

section#contact .form-group input.form-control {
  height: auto;
}

section#contact .form-group textarea.form-control {
  height: 150px;
}

section#contact .form-control:focus {
  border-color: #ced4da;
  box-shadow: none;
}

/* #ced4da */
section#contact ::-webkit-input-placeholder {
  font-weight: 700;
  color: #ced4da ;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

section#contact :-moz-placeholder {
  font-weight: 700;
  color: #ced4da;
  /* Firefox 18- */
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

section#contact ::-moz-placeholder {
  font-weight: 700;
  color: #ced4da;
  /* Firefox 19+ */
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

section#contact :-ms-input-placeholder {
  font-weight: 700;
  color: #ced4da;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

footer {
  padding: 25px 0;
  text-align: center;
}

footer span.copyright {
  font-size: 90%;
  line-height: 40px;
  text-transform: none;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

footer ul.quicklinks {
  font-size: 90%;
  line-height: 40px;
  margin-bottom: 0;
  text-transform: none;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align:center;
}

ul.social-buttons {
  margin-bottom: 0;
}

ul.social-buttons li a {
  font-size: 20px;
  line-height: 40px;
  display: block;
  width: 40px;
  height: 40px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  color: white;
  border-radius: 100%;
  outline: none;
  background-color: #212529;
}

ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
  background-color: #ef2d56;
}

.emailBar {
    width: 100%;
    background-color: #ef2d56;
    color: white;
}

.register-container{
	background-color: #ededed;
}

.register-head{
	text-align:center;
	margin-left: 2.5em;
	margin-right:2.5em;
	
}

.thanks_one{
	font-weight: bold;
	padding-top: 5px;
}


.email-input-one{
  display: block;
	width: 40vw;
  padding: 10px;
	border-radius: .25rem;
}

.sign-up-btn-two{
  display: block;
	width:80px;
	background: #353535; 
	color:white;
	margin: 10px;
	letter-spacing: .3px;
	padding: 12px 10px;
	border-width:0px;
	border-radius: .25rem;
}
