/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}

/* start editing */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
nav.vertical ul li{display:block} /* vertical menu */
nav.horizontal ul li{ display: inline-block;} /* horizontal menu */
img{max-width:100%;}
/*end reset */

*{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing:border-box;
}

  
@font-face{
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
	font-style: normal;
}

body{
	font-family: 'Montserrat', sans-serif;
	font-size:100%;
}

.h2,h2{
	font-size:30px;
}

.h3,h3{
	font-size:23px;
}

.h4,h4{
	font-size:18px;
	margin-bottom:20px;
}

/*---start-wrap---*/
.wrap{
	width: 100%;
	margin: 0 auto;
	background-image: url('img/background-party.jpg');	
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 800px;
}


/*---start-header---*/
.logo{
	float:left;
}

.logo span{
	height: 52px;
	width: 175px;
	display: inline-block;
	background: url('img/Logo.png') no-repeat;
	background-size:cover;
	vertical-align: initial;
	margin-left: 10%;
	background-color: #d2cecf;
}


#register-input-front{
	float:left;
	width:350px;
	margin: 12px auto;
	height:50px;
}

/* introduction */
.introduction{
	text-align:center;
}

.introduction-head h1{
	color:#ffffff;
	font-size: 9vw;
	font-weight: bold;
	letter-spacing:.5px;	
}

.introduction-sub-text{
	margin-top: 10px;
	font-size: 1.1em;
	text-align:center;
	color:#ffffff;
}


.front-page-btn ul li{
	display: inline-block;
	margin-top: 2em;
}

.first-form{
	margin-top:2em;
}

.front-page-club-btn-selection ul li a{
	font-size :1.5em;
	color: 	 #ffffff;
	padding: 0.3em 1em;
	text-decoration: none;
	background: #232323;
	border-radius: 40px;
	-webkit-border-radius: 40px;;
	-moz-border-radius: 40px;
	-o-border-radius: 40px;	
	 opacity: 0.9;
    filter: alpha(opacity=90);	
}

/*
.front-page-club-btn-selection li> a:hover{
	color:#3A494C;
	background-color:transparent;
	border: 5px solid #3A494C;
}

*/

.front-page-btn-service{
		margin-top: 2em;
}

.front-page-btn-service ul li a{
	font-size :1.5em;
	color: 	 #ffffff;
	padding: 0.3em 1em;
	text-decoration: none;
	background: #ef2d56;
	border-radius: 40px;
	-webkit-border-radius: 40px;;
	-moz-border-radius: 40px;
	-o-border-radius: 40px;
}
		

.front-page-btn-service li> a:hover{
	color:#ffffff;
	background:#ef2d56;
}

.divider{
    width:10px;

}

/* #Clearing */

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

#club.description{
	background-color: #232323;
	padding: 50px 7%;
	color: #c8c8c8;
}

#club.description-two{
	background-color: #353535;
	padding: 50px 7%;
	color: #c8c8c8;	
}

#club.description-three{
	background-color: #ef2d56;
	padding: 50px 7%;
	color: #c8c8c8;	
}


#club.description .section_title{
	letter-spacing:.5px;
}

#club .section_title hr {
    float: left;;
    width: 90px;
    border-top: 3px solid #ef2d56 !important;
    margin-top: 5px;
    margin-left: 2px;
}

#club .section_title2 hr {
    float: left;;
    width: 90px;
    border-top: 3px solid #3A494C !important;
    margin-top: 5px;
    margin-left: 2px;
}

.club-description-head h2{
	font-size: 2.5em;
	font-weight: 500;
	letter-spacing:.5px;
}

.description-background-one{
	background-color: #232323;
	color: #ffffff;
	text-align:left;	
}

.boxing-one{
	border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    padding: 10px;
    border-color: #ef2d56;
}

.boxing-two{
	border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    padding: 10px;
    border-color: #3A494C;
}

.queue{
	font-size: 25px;
	
}

.description-background-two{
	background-color: #353535;
	color: #ffffff;
	text-align:left;	
}

.description-background-three{
	background-color: #ef2d56;
	color: #ffffff;
	text-align:left;	
}

.register-container{
	background-color: #ededed;
}

.register-head{
	text-align:center;
	margin-left: 2.5em;
	margin-right:2.5em;
	
}

.thanks{
	font-weight: bold;
}
.thanks_one{
	font-weight: bold;
	padding-top: 5px;
}
.register-head h2{
	font-size: 5vw;
	font-weight: bold;
	letter-spacing:.5px;
	text-align: center;
}

.explanation-text{
	text-align:center;
}

.input-form-two{
	text-align:center;
	margin-top: 15px;
}
.input-form-one{
	text-align:center;
}

.email-input{
	width: 30vw;
	padding: 10px;
}
.email-input-one{
	width: 40vw;
	padding: 10px;
}
.sign-up-btn{
	width:100px;
	background: #ef2d56; 
	color:white;
	margin: 10px auto;
	letter-spacing: .3px;
	padding: 12px 10px;
	border-width:0px;
	border-radius: 2px;
}

.sign-up-btn-two{
	width:80px;
	background: #353535; 
	color:white;
	margin: 10px auto;
	letter-spacing: .3px;
	padding: 12px 10px;
	border-width:0px;
	border-radius: 2px;
}
.sign-up-btn:active {
  background-color: #ef2d56;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.sign-up-btn:hover{
	color:#ffffff;
	background:#ef2d56;
}


.register-input{
	width:350px;
	margin-top: 12px auto;
}


#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 0px;
	right: 10px;
	overflow: hidden;
	width: 50px;
	height: 49px;
	border: none;
	text-indent: 100%;
	background: url('img/move-top.png') no-repeat 0px 0px;
	bottom: 10px;
}

#toTopHover {
	width: 50px;
	height: 49px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}

#toTop:active, #toTop:focus {
	outline: none;
}

.footer{
	color:#D2D6DF;
	position: relative;
	border-top: #666A73 solid 6px;
	background: #282C35;
	
}
.footer-box{
	text-align:center;
}

.copyright{
	padding-top: 25px;
	padding-bottom: 25px;
}


.endsymbol span{
	height: 52px;
	width: 52px;
	display: inline-block;
	background: url('img/AppIcon.png') no-repeat;
	background-size:cover;
}

.emailBar {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ef2d56;
    color: white;
    text-align: center;
}

















